STRING BASED QUESTIONS

In [ ]:
#1
a=input("Enter the string : ")
print("THE reversed string is : ",a[::-1])

In [ ]:
#2
a1=input("Enter the string : ")
if a1==a1[::-1]:
    print("The string is palindrome")
else:
    print("The string is not palindrome")

In [ ]:
#3
a2=input("Enter the string : ")
print(a2.upper())

In [ ]:
#4
a3=input("Enter the string : ")
print(a3.lower())

In [ ]:
#5
a4=input("Enter the string : ")
b="aeiou"
a4.lower()
sum1=0
for i in a4:
    if i in b:
        sum1+=1
print("The number of vowels in string is ",sum1)

In [ ]:
#6
a5=input("Enter the string : ")
b="aeiou"
a5.lower()
sum1=0
for i in a5:
    if i in b:
        sum1+=1
sum2=len(a5)-sum1
print("The number of consonants in string is ",sum2)

In [ ]:
#7
a=input("Enter the string : ")
for i in a:
    if(i!=" "):
        print(i,end="")

In [ ]:
#8
a=input("Enter the string : ")
sum1=0
for i in a:
    sum1+=1
print("The length of string is ",sum1)

In [ ]:
#9
a=input("Enter the string : ")
b=input("Enter the specific word : ")
l=a.split(" ")
if b in l:
    print(b,"is present in",a)

In [ ]:
#10
string = input("Enter a sentence: ")
ow = input("Enter the word to be replaced: ")
nw = input("Enter the new word: ")
ms = string.replace(ow,nw)
print("Modified string:", ms)

In [ ]:
#11
a=input("Enter the sentence : ")
w=input("Enter the word : ")
b=a.count(w)
print(b)

In [ ]:
#12
a=input("Enter the sentence : ")
w=input("Enter the word : ")
for i in a:
    if(w==i):
        break
print(a.index(i))

In [ ]:
# 13
a=input("Enter the sentence : ")
w=input("Enter the word : ")

In [ ]:
#14
a=input("Enter the sentence : ")
b=a.split(" ")
print(b)

In [ ]:
#15
b=['hello', 'world', 'how', 'are', 'you']
print(" ".join(b))

In [ ]:
#16
a=input("Enter the sentence : ")
b=a.replace(" ","_")
print(b)

In [ ]:
#17
a=input("Enter the sentence : ")
w=input("Enter the word : ")
print(a.startswith(w))

In [ ]:
#18
a=input("Enter the sentence : ")
w=input("Enter the word : ")
print(a.endswith(w))

In [ ]:
#19
a=input("Enter the sentence : ")
b=a.title()
print(b)

In [ ]:
#20
a=input("Enter the sentence : ")
b=a.split(" ")
a=b[0]
for i in b:
    if(len(i)>len(a)):
        a=i
print(a)

In [ ]:
#21
a=input("Enter the sentence : ")
b=a.split(" ")
a=b[0]
for i in b:
    if(len(i)<len(a)):
        a=i
print(a)

In [ ]:
#22
a=input("Enter the sentence : ")
b=a.split(" ")
c=b[::-1]
print(" ".join(c))

In [ ]:
#23
a=input("Enter the sentence : ")
print(a.isalnum())

In [ ]:
#24
a=input("Enter the sentence : ")
for i in a:
    if i.isdigit():
        print(i,end=" ")

In [ ]:
#25
a=input("Enter the sentence : ")
for i in a:
    if i.isalpha():
        print(i,end=" ")

In [ ]:
#26
a=input("Enter the sentence : ")
c=0
for i in a:
    if i.isupper():
        c+=1
print(c)

In [ ]:
#27
a=input("Enter the sentence : ")
c=0
for i in a:
    if i.islower():
        c+=1
print(c)

In [ ]:
#28
a=input("Enter the sentence : ")
print(a.swapcase())

In [ ]:
#29
a=input("Enter the sentence : ")
w=input("Enter the word : ")
print(a.replace(w,""))

In [ ]:
#30
a=input("Enter the email : ")
b=a.split("@")[0]
if b.isalnum :
    print("The given email address is valid")

In [ ]:
#31
email = input("Enter the email : ")
username = email.split('@')[0]
print(username)

In [ ]:
#32
email = input("Enter the email : ")
domain = email.split('@')[1]
print(domain)

In [ ]:
#33
sentence = input("Enter the sentence : ")
print(" ".join(sentence.split()))

In [ ]:
#34
url = input("Enter the url : ")
is_valid_url = url.startswith("http://") 
print(is_valid_url)

In [ ]:
#35
url = input("Enter the url : ")
protocol = url.split('://')[0]
print(protocol)

In [ ]:
#36
sentence=input("Enter the sentence : ")
for i in sentence:
    if i.isalpha():
        print(i,sentence.count("i"))

In [ ]:
#37
import string
a=input("Enter the string : ")
for i in a:
    if i not in string.punctuation:
        print(i,end='')

In [ ]:
#38 
a=input("Enter the string : ")
if a.isdigit():
    print(a,"contains only digits")

In [ ]:
#39
a=input("Enter the string : ")
if a.isalpha():
    print(a,"contains only alphabets")

In [ ]:
#40
a=input("Enter the string : ")
print(list(a))

In [ ]:
#41
a=input("Enter the string a : ")
b=input("Enter the string b : ")
c=sorted(list(a))
d=sorted(list(b))
if c==d:
       print(a,b,"are anagrams")

In [ ]:
#42
sentence=input("Enter the sentence : ")
shift=int(input("Enter the shift"))
encrypted_text = ""
for char in sentence:
    if char.isalpha():
        # Shift only alphabetical characters
        shifted_char = chr((ord(char) - 65 + shift) % 26 + 65) if char.isupper() else chr((ord(char) - 97 + shift) % 26 + 97)
        encrypted_text += shifted_char
    else:
        # Keep non-alphabetic characters unchanged
        encrypted_text += char

print("Encrypted text:", encrypted_text)

In [ ]:
# 43
sentence=input("Enter the sentence : ")
shift=int(input("Enter the shift"))
encrypted_text = ""
for char in sentence:
    if char.isalpha():
        # Shift only alphabetical characters
        shifted_char = chr((ord(char) - 65 - shift) % 26 + 65) if char.isupper() else chr((ord(char) - 97 - shift) % 26 + 97)
        encrypted_text += shifted_char
    else:
        # Keep non-alphabetic characters unchanged
        encrypted_text += char

print("Encrypted text:", encrypted_text)

In [ ]:
#44
a=input("Enter the sentence : ")
l=a.split(" ")
b=set(l)
count,a=0,""
for i in b:
    if l.count("i")>count:
        count=l.count("i")
        a=i
print(i)

In [ ]:
# 45
a=input("Enter the sentence : ")
l=a.split()
b=set(l)
print(l,b)
for i in b:
    if l.count(i)==1:
        print(i,end=" ")

In [ ]:
#46
def count_syllables(word):
    vowels = "aeiouAEIOU"
    count = 0
    for char in word:
        if char in vowels:
            count += 1
    return count

string = input("Enter the string")
words = string.split()
syllable_count = sum(count_syllables(word) for word in words)
print(syllable_count)

In [ ]:
# 47
a=input("Enter the string a : ")
if a.isalnum():
    print(a,"has no special characters")
else:
    print(a,"has special characters")

In [ ]:
# 48
a=input("Enter the sentence : ")
l=a.split()
n=int(input("Enter the nth position"))
#as indexing starts from 0 so while removing we will keep it as n-1
l.pop(n-1)
print(" ".join(l))

In [ ]:
# 49
a=input("Enter the sentence : ")
l=a.split()
n=int(input("Enter the nth position"))
w=input("Enter the word")
#as indexing starts from 0 so while removing we will keep it as n-1
l.insert(w,n)
print(" ".join(l))

In [ ]:
# 50
csv_string = "a,b,c\n2,3,4\nx,y,z"
csv_rows = csv_string.split("\n")
csv_list = [row.split(",") for row in csv_rows]
print(csv_list)

LIST BASED QUESTIONS

In [ ]:
# 1
l=[]
for i in range(1,11):
    l.append(i)
print(l)

In [ ]:
# 2
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list_length = 0
for i in l:
    list_length += 1
print("Length of the list:", list_length)

In [ ]:
# 3
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l.append(11)
print("List after appending 11:", l)

In [ ]:
# 4
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l.insert(3, 99)  # Insert 99 at index 3
print("List after inserting 99 at index 3:", l)

In [ ]:
# 5
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l.remove(7)  # Remove element 7 from the list
print("List after removing element 7:", l)

In [ ]:
# 6
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
del l[2]  # Remove element at index 2
print("List after removing element at index 2:", l)

In [ ]:
# 7
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
element_to_check = 5
if element_to_check in l:
    print(f"{element_to_check} exists in the list.")
else:
    print(f"{element_to_check} does not exist in the list.")

In [ ]:
# 8
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
index = l.index(4)  # Find the index of element 4
print("Index of first occurrence of 4:", index)

In [ ]:
# 9
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
count = l.count(5)  # Count occurrences of element 5
print("Number of occurrences of 5:", count)

In [ ]:
# 10
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l.reverse()
print("Reversed list:", l)

In [ ]:
# 11
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l.sort()
print("Sorted list in ascending order:", l)

In [ ]:
# 12
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l.sort(reverse=True)
print("Sorted list in descending order:", l)

In [ ]:
# 13
even_numbers = [num for num in range(1, 21) if num % 2 == 0]
print("List of even numbers from 1 to 20:", even_numbers)

In [ ]:
# 14
odd_numbers = [num for num in range(1, 21) if num % 2 != 0]
print("List of even numbers from 1 to 20:", odd_numbers)

In [ ]:
# 15
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# 16
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# 17
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# 18
squares = [num ** 2 for num in range(1, 11)]
print("List of squares of numbers from 1 to 10:", squares)

In [ ]:
# 19
import random
random_numbers = [random.randint(1, 100) for _ in range(10)]  # Generates 10 random numbers between 1 and 100
print("List of random numbers:", random_numbers)

In [ ]:
# 20
l=[1,1,2,2,3,4,5,5,6,6,6,7]
unique_list = list(set(l))
print("List after removing duplicates:", unique_list)

In [ ]:
# 21
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
common_elements = [x for x in list1 if x in list2]
print(common_elements)

In [ ]:
# 22
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
difference = [x for x in list1 if x not in list2]
print(difference)

In [ ]:
# 23
list1 = [1, 2, 3]
list2 = [4, 5, 6]
merged_list = list1 + list2
print(merged_list)

In [ ]:
# 24
numbers = [1, 2, 3, 4, 5]
doubled_numbers = [x * 2 for x in numbers]
print(doubled_numbers)

In [ ]:
# 25
numbers = [1, 2, 3, 4, 5, 6]
odd_numbers = [x for x in numbers if x % 2 != 0]
print(odd_numbers)

In [ ]:
# 26
str_numbers = ["1", "2", "3", "4", "5"]
int_numbers = [int(x) for x in str_numbers]
print(int_numbers)

In [ ]:
# 27
int_numbers = [1, 2, 3, 4, 5]
str_numbers = [str(x) for x in int_numbers]
print(str_numbers)

In [ ]:
# 28
nested_list = [[1, 2, 3], [4, 5], [6]]
flattened_list = [x for sublist in nested_list for x in sublist]
print(flattened_list)

In [ ]:
# 29
fibonacci = [0, 1]
while len(fibonacci) < 10:
    next_num = fibonacci[-1] + fibonacci[-2]
    fibonacci.append(next_num)
print(fibonacci)

In [ ]:
# 30
numbers = [1, 2, 3, 4, 5]
a=sorted(numbers)
if a==numbers:
    print("List is sorted")

In [ ]:
# 31
n = 2
numbers = [1, 2, 3, 4, 5]
rotated_list = numbers[n:] + numbers[:n]
print(rotated_list)

In [ ]:
# 32
n = 2
numbers = [1, 2, 3, 4, 5]
rotated_list = numbers[-n:] + numbers[:-n]
print(rotated_list)

In [ ]:
# 33
primes = []
for num in range(2, 51):
    is_prime = True
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        primes.append(num)
print(primes)

In [ ]:
# 34
n = 3
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
chunks = [numbers[i:i + n] for i in range(0, len(numbers), n)]
print(chunks)

In [ ]:
# 35
numbers = [1, 3, 2, 5, 4]
sorted_numbers = sorted(numbers)
second_largest = sorted_numbers[-2]
print(second_largest)

In [ ]:
# 36
numbers = [1, 3, 2, 5, 4]
sorted_numbers = sorted(numbers)
second_largest = sorted_numbers[-2]
print(second_largest)

In [ ]:
# 37
my_list = ['apple', 'banana', 'cherry']
my_dict={i:my_list.index(i) for i in my_list}
print(my_dict)

In [ ]:
# 38
import random
numbers = [1, 2, 3, 4, 5]
random.shuffle(numbers)
print(numbers)

In [ ]:
# 39
factorials = [1]
for i in range(1, 11):
    factorials.append(factorials[-1] * i)
print(factorials)

In [ ]:
# 40
list1 = [1, 2, 3]
list2 = [3, 4, 5]
cl=[1 for i in list1 if i in list2]
if len(cl)>0:
    print("have_common_element")

In [ ]:
# 41
my_list = [1, 2, 3, 4, 5]
my_list.clear()
print(my_list)

In [ ]:
# 42
my_list = [1, -2, 3, -4, 5]
my_list = [x if x >= 0 else 0 for x in my_list]
print(my_list)

In [ ]:
# 43
my_string = "Hello World"
word_list = my_string.split()
print(word_list)

In [ ]:
# 44
word_list = ["Hello", "World"]
my_string = " ".join(word_list)
print(my_string)

In [ ]:
# 45
n = 5
powers_of_2 = [2 ** i for i in range(n)]
print(powers_of_2)

In [ ]:
# 46
string_list = ["apple", "banana", "kiwi"]
longest_string = max(string_list, key=len)
print(longest_string)

In [ ]:
# 47
string_list = ["apple", "banana", "kiwi", "orange"]
shortest_string = min(string_list, key=len)
print(shortest_string)

In [ ]:
# 48
n = 5
triangular_numbers = [i * (i + 1) // 2 for i in range(1, n + 1)]
print(triangular_numbers)

In [ ]:
# 49
list1 = [1, 2, 3, 4, 5]
list2 = [2, 3, 4]
is_subsequence = all(x in list1 for x in list2)
print(is_subsequence)

In [ ]:
# 50
my_list = [1, 2, 3, 4, 5]
index1, index2 = 1, 3
my_list[index1], my_list[index2] = my_list[index2], my_list[index1]
print(my_list)

TUPLE BASED QUESTIONS

In [ ]:
# 1
my_tuple = (1, 2, 3, 4, 5)

In [ ]:
# 2
my_tuple = (1, 2, 3, 4, 5)
third_element = my_tuple[2]
print(third_element)

In [ ]:
# 3
my_tuple = (1, 2, 3, 4, 5)
tuple_length = 0
for _ in my_tuple:
    tuple_length += 1
print(tuple_length)

In [ ]:
# 4
my_tuple = (1, 2, 3, 4, 5)
count_element = my_tuple.count(3)
print(count_element)

In [ ]:
# 5
my_tuple = (1, 2, 3, 4, 5)
index_element = my_tuple.index(4)
print(index_element)

In [ ]:
# 6
my_tuple = (1, 2, 3, 4, 5)
element_to_check = 2
element_exists = element_to_check in my_tuple
print(element_exists)

In [ ]:
# 7
my_tuple = (1, 2, 3, 4, 5)
tuple_as_list = list(my_tuple)
print(tuple_as_list)

In [ ]:
# 8
my_list = [1, 2, 3, 4, 5]
list_as_tuple = tuple(my_list)
print(list_as_tuple)

In [ ]:
# 9
my_tuple = (1, 2, 3, 4, 5)
a, b, c, d, e = my_tuple
print(a, b, c, d, e)

In [ ]:
# 10
even_numbers = tuple(range(2, 11, 2))
print(even_numbers)

In [ ]:
# 11
odd_numbers = tuple(range(1, 11, 2))
print(odd_numbers)

In [ ]:
# 12
my_tuple = (1, 2, 3, 4, 5)
even_numbers = (2, 4, 6, 8, 10)
concatenated_tuple = my_tuple + even_numbers
print(concatenated_tuple)

In [ ]:
# 13
my_tuple = (1, 2, 3, 4, 5)
repeated_tuple = my_tuple * 3
print(repeated_tuple)

In [ ]:
# 14
empty_tuple = ()
is_empty = len(empty_tuple) == 0
print(is_empty)

In [ ]:
# 15
nested_tuple = ((1, 2), (3, 4), (5, 6))
print(nested_tuple)

In [ ]:
# 16
nested_tuple = ((1, 2), (3, 4), (5, 6))
first_element_nested_tuple = nested_tuple[0][0]
print(first_element_nested_tuple)

In [ ]:
# 17
single_element_tuple = (42,)
print(single_element_tuple)

In [ ]:
# 18
comparison_result = (1, 2, 3) == (1, 2, 4)
print(comparison_result)

In [ ]:
# 19
my_tuple = (1, 2, 3, 4, 5)
del my_tuple
# Print statement omitted as the tuple is deleted and cannot be printed.

In [ ]:
# 20
my_tuple = (1, 2, 3, 4, 5)
sliced_tuple = my_tuple[2:7]
print(sliced_tuple)

In [ ]:
# 21
my_tuple = (3, 7, 1, 9, 5)
max_value = max(my_tuple)
print("Maximum value in the tuple:", max_value)

In [ ]:
# 22
my_tuple = (3, 7, 1, 9, 5)
min_value = min(my_tuple)
print("Minimum value in the tuple:", min_value)

In [ ]:
# 23
my_string = "hello"
char_tuple = tuple(my_string)
print("Tuple of characters:", char_tuple)

In [ ]:
# 24
my_tuple = ('h', 'e', 'l', 'l', 'o')
str_value = ''.join(my_tuple)
print("String from tuple:", str_value)

In [ ]:
# 25
my_tuple = (1, "hello", 3.14, True)
print("Tuple with multiple data types:", my_tuple)

In [ ]:
# 26
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
are_identical = tuple1 == tuple2
print("Are the tuples identical:", are_identical)

In [ ]:
# 27
my_tuple = (5, 2, 8, 1, 3)
sorted_tuple = tuple(sorted(my_tuple))
print("Sorted tuple:", sorted_tuple)

In [ ]:
# 28
my_tuple = (1, 2, 3, 4, 5)
str_tuple = tuple(str(x) for x in my_tuple)
print("Tuple of strings:", str_tuple)

In [ ]:
# 29
my_tuple = ("1", "2", "3", "4", "5")
int_tuple = tuple(int(x) for x in my_tuple)
print("Tuple of integers:", int_tuple)

In [ ]:
# 30
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
merged_tuple = tuple1 + tuple2
print("Merged tuple:", merged_tuple)

In [ ]:
# 31
nested_tuple = ((1, 2), (3, 4), (5, 6))
flattened_tuple = tuple(item for sublist in nested_tuple for item in sublist)
print("Flattened tuple:", flattened_tuple)

In [ ]:
# 32
prime_numbers = (2, 3, 5, 7, 11)
print("Tuple of first 5 prime numbers:", prime_numbers)

In [ ]:
# 33
my_tuple = (1, 2, 3, 2, 1)
is_palindrome = my_tuple == my_tuple[::-1]
print("Is the tuple a palindrome:", is_palindrome)

In [ ]:
# 34
squares_tuple = tuple(x**2 for x in range(1, 6))
print("Tuple of squares:", squares_tuple)

In [ ]:
# 35
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)
filtered_tuple = tuple(x for x in my_tuple if x % 2 != 0)
print("Tuple with odd numbers:", filtered_tuple)

In [ ]:
# 36
my_tuple = (1, 2, 3, 4, 5)
doubled_tuple = tuple(x * 2 for x in my_tuple)
print("Tuple with elements multiplied by 2:", doubled_tuple)

In [ ]:
# 37
import random
random_numbers = tuple(random.randint(1, 100) for _ in range(5))
print("Tuple of random numbers:", random_numbers)

In [ ]:
# 38
my_tuple = (1, 3, 5, 2, 4)
is_sorted = my_tuple == tuple(sorted(my_tuple))
print("Is the tuple sorted:", is_sorted)

In [ ]:
# 39
my_tuple = (1, 2, 3, 4, 5)
n = 2
rotated_tuple = my_tuple[n:] + my_tuple[:n]
print(f"Tuple rotated to the left by {n} positions:", rotated_tuple)

In [ ]:
# 40
my_tuple = (1, 2, 3, 4, 5)
n = 2
rotated_tuple = my_tuple[-n:] + my_tuple[:-n]
print(f"Tuple rotated to the right by {n} positions:", rotated_tuple)

In [ ]:
# 41
fibonacci_tuple = (0, 1, 1, 2, 3)
print("Tuple of first 5 Fibonacci numbers:", fibonacci_tuple)

In [ ]:
# 42
user_input = input("Enter elements separated by space: ")
my_tuple = tuple(user_input.split())
print("Tuple from user input:", my_tuple)

In [ ]:
# 43
my_tuple = (1, 2, 3, 4, 5)
index1, index2 = 1, 3
list_tuple = list(my_tuple)
list_tuple[index1], list_tuple[index2] = list_tuple[index2], list_tuple[index1]
swapped_tuple = tuple(list_tuple)
print(f"Tuple after swapping elements at index {index1} and {index2}:", swapped_tuple)

In [ ]:
# 44
my_tuple = (1, 2, 3, 4, 5)
reversed_tuple = my_tuple[::-1]
print("Reversed tuple:", reversed_tuple)

In [ ]:
# 45
n = 5
powers_of_2 = tuple(2**i for i in range(1, n+1))
print(f"Tuple of the first {n} powers of 2:", powers_of_2)

In [ ]:
# 46
my_tuple = ("apple", "banana", "orange", "strawberry")
longest_string = max(my_tuple, key=len)
print("Longest string in the tuple:", longest_string)

In [ ]:
# 47
my_tuple = ("apple", "banana", "orange", "strawberry")
shortest_string = min(my_tuple, key=len)
print("Shortest string in the tuple:", shortest_string)

In [ ]:
# 48
n = 5
triangular_numbers = tuple(i * (i + 1) // 2 for i in range(1, n+1))
print(f"Tuple of the first {n} triangular numbers:", triangular_numbers)

In [ ]:
# 49
main_tuple = (1, 2, 3, (4, 5), 6, 7)
sub_tuple = (4, 5)
is_subsequence = any(sub_tuple == main_tuple[i:i+len(sub_tuple)] for i in range(len(main_tuple) - len(sub_tuple) + 1))
print("Does the main tuple contain the sub tuple as a subsequence:", is_subsequence)

In [ ]:
# 50
n = 6
alternating_tuple = tuple(1 if i % 2 == 0 else 0 for i in range(n))
print(f"Tuple of alternating 1s and 0s of length {n}:", alternating_tuple)

SETS BASED QUESTIONS

In [ ]:
# 1
my_set = {1, 2, 3, 4, 5}
print("Set with integers from 1 to 5:", my_set)

In [ ]:
# 2
my_set = {1, 2, 3, 4, 5}
my_set.add(6)
print("Set after adding element 6:", my_set)

In [ ]:
# 3
my_set = {1, 2, 3, 4, 5}
my_set.remove(3)
print("Set after removing element 3:", my_set)

In [ ]:
# 4 
my_set = {1, 2, 3, 4, 5}
element_exists = 4 in my_set
print("Does 4 exist in the set?", element_exists)

In [ ]:
# 5
my_set = {1, 2, 3, 4, 5}
set_length = sum(1 for _ in my_set)
print("Length of the set without using len():", set_length)

In [ ]:
# 6
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print("Set after clearing all elements:", my_set)

In [ ]:
# 7
my_set = {x for x in range(1, 11) if x % 2 == 0}
print("Set of even numbers from 1 to 10:", my_set)

In [ ]:
# 8
my_set = {x for x in range(1, 11) if x % 2 != 0}
print("Set of odd numbers from 1 to 10:", my_set)

In [ ]:
# 9
my_set = {1, 2, 3, 4, 5}
other_set = {6, 7, 8}
union_set = my_set.union(other_set)
print("Union of the sets:", union_set)

In [ ]:
# 10
my_set = {1, 2, 3, 4, 5}
other_set = {6, 7, 8}
intersection_set = my_set.intersection(other_set)
print("Intersection of the sets:", intersection_set)

In [ ]:
# 11
my_set = {1, 2, 3, 4, 5}
other_set = {6, 7, 8}
difference_set = my_set.difference(other_set)
print("Difference between the sets:", difference_set)

In [ ]:
# 12
my_set = {1, 2, 3, 4, 5}
other_set = {6, 7, 8}
is_subset = my_set.issubset(other_set)
print("Is the first set a subset of the second set?", is_subset)

In [ ]:
# 13
my_set = {1, 2, 3, 4, 5}
other_set = {6, 7, 8}
is_superset = my_set.issuperset(other_set)
print("Is the first set a superset of the second set?", is_superset)

In [ ]:
# 14
my_list = [1, 2, 3, 4, 5]
my_set = set(my_list)
print("Set from a list:", my_set)

In [ ]:
# 15
my_set = {1, 2, 3, 4, 5}
my_list = list(my_set)
print("List from a set:", my_list)

In [ ]:
# 16
my_set = {1, 2, 3, 4, 5}
removed_element = my_set.pop()
print("Removed element from the set:", removed_element)

In [ ]:
# 17
my_set = {1, 2, 3, 4, 5}
my_set.pop()
print("Set after popping an element:", my_set)

In [ ]:
# 18
my_set = {1, 2, 3, 4, 5}
other_set = {6, 7, 8}
no_common_elements = my_set.isdisjoint(other_set)
print("Do the sets have no common elements?", no_common_elements)

In [ ]:
# 19
my_set = {1, 2, 3, 4, 5}
other_set = {6, 7, 8}
symmetric_difference_set = my_set.symmetric_difference(other_set)
print("Symmetric difference between the sets:", symmetric_difference_set)

In [ ]:
# 20
my_set = {1, 2, 3, 4, 5}
other_set = {6, 7, 8}
my_set.update(other_set)
print("Set after updating with another set:", my_set)

In [ ]:
# 21
my_set = {2, 3, 5, 7, 11}
print("Set of the first 5 prime numbers:", my_set)

In [ ]:
# 22
my_set = {1, 2, 3, 4, 5}
other_set = {6, 7, 8}
is_identical = my_set == other_set
print("Are the sets identical?", is_identical)

In [ ]:
# 23
my_set = {1, 2, 3, 4, 5}
frozen_set = frozenset(my_set)
print("Frozen set:", frozen_set)

In [ ]:
# 24
my_set = {1, 2, 3, 4, 5}
other_set = {6, 7, 8}
is_disjoint = my_set.isdisjoint(other_set)
print("Are the sets disjoint?", is_disjoint)

In [ ]:
# 25
my_set = {1, 2, 3, 4, 5}
squares_set = {x*x for x in my_set}
print("Set of squares of numbers from 1 to 5:", squares_set)

In [ ]:
# 26
my_set = {1, 2, 3, 4, 5}
even_numbers_set = {x for x in my_set if x % 2 == 0}
print("Set with even numbers:", even_numbers_set)

In [ ]:
# 27
my_set = {1, 2, 3, 4, 5}
doubled_set = {x*2 for x in my_set}
print("Set with elements multiplied by 2:", doubled_set)

In [ ]:
# 28
import random
random_set = {random.randint(1, 100) for _ in range(5)}
print("Set of random numbers:", random_set)

In [ ]:
# 29
my_set = {1, 2, 3, 4, 5}
is_empty = not bool(my_set)
print("Is the set empty?", is_empty)

In [ ]:
# 30
my_set = {1, 2, 3, 4, 5}
other_set = {6, 7, 8}
nested_set = {frozenset(my_set), frozenset(other_set)}
print("Nested set:", nested_set)

In [ ]:
# 31
my_set = {1, 2, 3, 4, 5}
my_set.discard(5)
print("Set after removing element 5 using discard:", my_set)

In [ ]:
# 32
my_set = {1, 2, 3, 4, 5}
other_set = {6, 7, 8}
comparison_result = my_set > other_set  # Example comparison, can be any set comparison
print("Comparison result:", comparison_result)

In [ ]:
# 33
string = "hello"
string_set = set(string)
print("Set from a string:", string_set)

In [ ]:
# 34
string_set = {"1", "2", "3", "4", "5"}
int_set = {int(x) for x in string_set}
print("Set of integers from a set of strings:", int_set)

In [ ]:
# 35
my_set = {1, 2, 3, 4, 5}
string_set = {str(x) for x in my_set}
print("Set of strings from a set of integers:", string_set)

In [ ]:
# 36
my_tuple = (1, 2, 3, 4, 5)
tuple_set = set(my_tuple)
print("Set from a tuple:", tuple_set)

In [ ]:
# 37
my_set = {1, 2, 3, 4, 5}
tuple_from_set = tuple(my_set)
print("Tuple from a set:", tuple_from_set)

In [ ]:
# 38
my_set = {1, 2, 3, 4, 5}
max_value = max(my_set)
print("Maximum value in the set:", max_value)

In [ ]:
# 39
my_set = {1, 2, 3, 4, 5}
min_value = min(my_set)
print("Minimum value in the set:", min_value)

In [ ]:
# 40
user_input = input("Enter elements separated by space: ")
input_list = user_input.split()
input_set = set(input_list)
print("Set from user input:", input_set)

In [ ]:
# 41
my_set = {1, 2, 3, 4, 5}
other_set = {6, 7, 8}
intersection_empty = len(my_set.intersection(other_set)) == 0
print("Is the intersection of the sets empty?", intersection_empty)

In [ ]:
# 42
fibonacci_set = {0, 1, 1, 2, 3}
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

In [ ]:
# 43
my_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = list(set(my_list))
print("List after removing duplicates using sets:", unique_list)

In [ ]:
# 44
my_set = {1, 2, 3, 4, 5}
other_set = {6, 7, 8}
same_elements = my_set == other_set or my_set == other_set.union(my_set)
print("Do the sets have the same elements?", same_elements)

In [ ]:
# 45
n = 5
powers_of_2_set = {2 ** i for i in range(1, n+1)}
print(f"Set of the first {n} powers of 2:", powers_of_2_set)

In [ ]:
# 46
my_set = {1, 2, 3, 4, 5}
my_list = [1, 2, 2, 3, 4, 4, 5]
common_elements = my_set.intersection(set(my_list))
print("Common elements between the set and the list:", common_elements)

In [ ]:
# 47
n = 5
triangular_numbers_set = {i * (i + 1) // 2 for i in range(1, n+1)}
print(f"Set of the first {n} triangular numbers:", triangular_numbers_set)

In [ ]:
# 48
my_set = {1, 2, 3, 4, 5}
other_set = {6, 7, 8}
is_subset = other_set.issubset(my_set)
print("Is the second set a subset of the first set?", is_subset)

In [ ]:
# 49
n = 6
alternating_set = {1 if i % 2 == 0 else 0 for i in range(n)}
print(f"Set of alternating 1s and 0s of length {n}:", alternating_set)

In [ ]:
# 50
my_set = {1, 2, 3, 4, 5}
other_set = {6, 7, 8}
set1 = {1, 2, 3}
set2 = {4, 5, 6}
merged_set = set1.union(set2, my_set, other_set)
print("Merged set:", merged_set)